*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainColor:black;
    --secondColor:#333;
    --thirdColor:#ffffff;
    --buttonColor:#04aa6d;
}
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.button{
    background-color: var(--buttonColor);
    border: 1px black solid;
    color: white;
    padding: 6px 12px;
    font-size:medium;
    min-width: 70px;
    cursor:pointer;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    color: #F1F1F1 !important;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    border: 1px rgb(107, 157, 197) solid;
    border-radius: 20%;
    text-align: center;
    transition: all .5s;
}
#pargMessage{
    width: 20%;
    border: 1px rgb(212, 73, 73) solid;
    padding: 15px 10px;
    border-radius: 10%;
    text-align: center;
    color: red;
    position: fixed;
    text-transform: capitalize;
    font-weight: bold;
    bottom: 10px;
    right: 0;
    display: none;
    background-color:#79f0cc;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 ;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
tr{
    text-align: center;
    color: white;
    background-color: var(--mainColor);
}
tr:nth-child(even) {
    background-color: white;
    color: black;
}
.hoverEffect:hover{
    background-color: var(--thirdColor);
    color: var(--mainColor) !important;
}
tr td:last-of-type a {
    border: none !important;
}
tr td:last-of-type a i{
    color: white;
}
tr:nth-child(even) td:last-of-type a i{
    color: black;
}
header{
    background-color: var(--mainColor);
     background-image: url("logo.png");
     background-repeat: no-repeat;
     height: 15%;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
}

header h1{
    padding: 25px;
    padding-left: 45px;
    font-size: 40px;
    color:#F1F1F1;

}

.content{
    background-color: var(--thirdColor);
    height: 1000px;
}
aside{
    background-color: var(--secondColor);
    position:fixed;
    min-width: 16%;
    height: 100%;
    left: 0;
    top: 15%;
}

main{
    margin: 10% 10px 10px 18%;
}


.links{
    margin-bottom: 50px;
}
.links li{
    padding: 20px 10px;
    width: 80%;
}

#patients{
    margin: 15px 0;
}
.title{
    width:150px;
    margin: auto;
}
#patientsForm{
    margin: 30px 0;
    position: relative;
    display: none;
    padding: 15px;
    color: white;
    background-color: var(--secondColor);
}
#patientsForm *{
    margin: 5px;
    padding: 5px;
}

#patientsForm i{
    position: absolute;
    right: 5px;
    top:0;
}

.search-container{
    margin: 20px 0;
}
form input{
    width: 200px;
    height: 30px;
    margin: 0 10px;
}
.bold{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}

